prefix  = "ideas-insitu"
ideas_api_lambda_subnet_ids    = ["<private subnet 1 id>", "<private subset 2 id>"]
ideas_api_lambda_vpc_id        = "<VPC Id created>"
security_group_ids = ["<security group id associated with the vpc>"]
aws_region = "us-west-2"
lambda_processing_role_arn = "arn:aws:iam::<lambda role arn>"
