build
dist
*.egg-info
saildrone*
local_notes.txt
ZMFR_sample.json
scratch*
.idea
.run
CDMS_insitu.parquet
__pycache__
.DS_Store
secret.yml
local.spark.cluster/aws-java-sdk-bundle*.jar
.ipynb_checkpoints
*.ipynb

parquet.spark.helm.values.yaml
parquet.spark.helm.values.local*
